  <!--Footer-->
  <footer style="background-color:rgba(0,0,0,0.3);">
    <div class="container">
        <div class="col-lg-6 col-md-6 mt-5">
        <address>
            <strong>{{ address.en_company }}</strong><br>
            <strong>{{ address.cn_company }}</strong><br>
            {{ address.location | safe | linebreaksbr }}
        </address>
        </div>
        <div class="col-lg-6 col-md-6 mt-5">
                <address>
                    <strong>Contact us</strong><br>
                    <strong>Name:</strong>Kate Yu<br>
                    <abbr title="Phone">Phone/Whatsapp:</abbr>{{ address.phone }}<br>
                    <strong>Website:</strong>{{ address.domain }} 
                </address>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="/">{{ address.domain }}</a>
    </div>
    <!-- Copyright -->
  </footer>
