<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Smart4Home</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="nonymous">


    <style>
        .nav-link{
            color:#000;
        }

        .p-border {
            border:1px solid #eee;
            margin:15px 30px;
            padding:20px;
        }
        .row{
            background:#cececc;
        }
        body {
            background-color: #99978c;
            font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        nav{
            background:#303437;
            height:70px;
            width:100%;
            box-shadow:0 4px 5px black;
        }
        label.logo{
            color:white;
            font-size:35px;
            line-height:70px;
            padding:0 100px;
            font-weight:bold;
        }
        nav ul{
            float:right;
            margin-right:20px;
        }
        nav ul li{
            display:inline-block;
            line-height:70px;
            margin:0 5px;
        }
        nav ul li a{
            color:white;
            font-size:17px;
            padding:7px 13px;
            border-radius:3px;
           /* text-transform:upperCase; */

        }
        a.active,a:hover{
            background: #1b9bff;
            transition:.5s;
        }
        .checkbtn{
            font-size:30px;
            color:white;
            float:right;
            line-height:70px;
            margin-right:40px;
            cursor:pointer;
            display:none;
        }
        #check{
            display:none;
        }
        @media (max-width:952px){
            label.logo{
                font-size:30px;
                padding-left: 50px;
            }
            nav ul li a{
                font-size:16px;
            }
        }
        @media (max-width:858px){
            .checkbtn{
                display: block;
            }
            .p-border{
                margin:-30px auto 45px;
                padding:10px;
            }
            ul{
                position: fixed;
                width:100%;
                height:100vh;
                background:#2c3e50;
                top:70px;
                left:-100%;
                text-align:center;
                transition: all .5s;
                z-index:3000;
            }
            nav ul li{
                display:block;
                margin:30px;
            }
            nav ul li a{
                font-size:20px;
            }
            a:hover,a.active{
                background:none;
                color:#0082e6;
            }
            #check:checked ~ ul{
                left: 0;
            }
        }
        
    </style>
</head>
<body>
      <!--Main Navigation-->
  <header>
    
      <nav>
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
          </label>
          <label class="logo">S4H</label>
          <ul>
              <li><a href="/" rel="nofollow">Home</a></li>
              <li class="active"><a href="products">Products</a></li>
          </ul>
      </nav>

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-5">
    <div class="container">
      <!--Section: Content-->
      {% block product %}
      {% for j in types %}
      <div style="box-shadow:0 0 5px #3e3e3e; height:70px; vertical-align:center;  text-align:center; background-color:#3e3e3e; margin-top:30px; margin-bottom:-31px; color:#fff; border-top-left-radius:10px; border-top-right-radius:10px;">
          <h2 style="padding-top:17px;"> {{ j.typename }}</h2>
      </div>
      <hr class="my-5" />

            {% for i in products %}
                {% if i.product_type == j %}
                    <section>
                        <div class="row p-border">
                        <div class="col-md-6 gx-5 mb-4">
                            <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
                                <img src="/static/images/{{ i.image }}" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                            </div>
                        </div>

                        <div class="col-md-6 gx-5 mb-4">
                            <h4><strong>{{ i.name }}</strong></h4>
                            <p class="text-muted">
                            {{ i.description | safe | linebreaksbr }}
                            </p>
                        </div>
                        </div>
                    </section>
                    <!--Section: Content-->
                {% endif %}
            {% endfor %}

      <hr class="my-5" />
      {% endfor %}
      {% endblock %}


    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  {% include 'footer.html' %}
    <!-- MDB -->
      <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <!-- Custom scripts -->
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>
